{% extends "movie/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 mx-2 mt-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>{{ movie.name }}</h1>
                        </div>
                        <div class="col-md-4 my-2 text-center">
                            <h3><i class="fa fa-star text-warning"></i> <strong>{{ movie.rate }}</strong> / 10</h3>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-xl-3">
                            <img class="embed-responsive" src="{{ movie.poster.url }}" alt="Card image cap">
                        </div>
                        <div class="col-xl-9">
                            <video class="embed-responsive embed-responsive-16by9" id="VideoPlayer" controls>
                            </video>
                        </div>
                    </div>
                    <div class="row">
                        <p><span class="badge badge-secondary"><b><i
                                class="fa fa-pencil"></i> Description</b></span> {{ movie.description }}</p>
                        <p><span class="badge badge-secondary"><b><i
                                class="fa fa-video-camera"></i> Director</b></span> {{ movie.director_name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
{% if movie.dash_mode %}
    <script src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>
    <script>
        var url = "{{ movie.trailer_link }}";
        var player = dashjs.MediaPlayer().create();
        player.initialize(document.querySelector("#VideoPlayer"), url, true);
    </script>
{% else %}
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
    <script>
        var video = document.getElementById('VideoPlayer');
        var videoSrc = '{{ movie.trailer_link }}';
        if (Hls.isSupported()) {
          var hls = new Hls();
          hls.loadSource(videoSrc);
          hls.attachMedia(video);
        }
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
          video.src = videoSrc;
        }
    </script>
{% endif %}
{% endblock %}
